.venv/
__pycache__/
*.pyc

data/raw/
data/processed/
data/features/

models/*.pt
models/*.pth
models/*.ckpt

.ipynb_checkpoints/

# Local datasets
datasets/*/raw/
datasets/*/processed/
datasets/*/downloads/